* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background-color: gray;
    display: block;
    max-width: 500px;

}

h1 {
    color: skyblue;
    margin: 1rem;
}

form {
    /* margin: 1rem; */
    border-radius: 7px;
    /* padding: 1rem; */
    background-color: azure;
}

code {
    display: block;
    background-color: #000;
    color: white;
}

textarea, select, input, button {
    padding: 0.5rem;
    width: 350px;
    
}

.box {
    margin: 1rem;
    border: 1px solid rgd(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    margin: 1rem;
    border: 1px solid rgd(0 0 0 / 10%);
    padding: 1rem;
}

button {
    background-color: navy;
    color: #fff;
    display: block;
    margin: 0 auto;
    border-radius: 5px;

}