* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root {
    --primary-color: #07d18e;
    --secondary-color: purple;
    --border-color: rgba(0, 0, 0, 0.2);
    --bg-light: lightblue;
    --text-dark: black;
    --bg-dark: brown;
    --accent-color: orange;
    --accent-blue: blue;
    --error-color: red;
    --shadow-color: purple;
} */

main {
    max-width: 840px;
    /* margin: 1rem; */
    border: 0px solid rgba(0, 0, 0, 0.2);
    color: #07d18e;
    text-align: left;
}

aside {
    width: 250px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: blue;
    color: orange;
}

aside h2 {
    top: px;
    left: 150px;
}

h1 {
    padding: rem

}

p {
    padding: 4px;
    text-align: left;

}

main img {
    width: 150px;
    height: auto;
    border: 1rem solid rgba(0, 0, 0, 0.2);
    padding: 1px;
    box-shadow: 0px 0px 15px gray;
    float: right;
}

footer {
    margin-top: 10px;
    border-top: 2px solid red;
    text-align: center;
}

nav {
    background-color: brown;
    padding: 10px;
    display: block;
    color: purple;
    text-align: left;
}

nav a {
    color: purple;
    padding: 10px;
    display: block;
}

h1 {
    color: #07d18e;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: black;
}

.indent {
    padding: 2rem;
}