main {
    max-width: 840px;
    margin: 1rem;
    border:1px solid rgba(0, 0, 0, 0.2);
    color: #07d18e;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: blue;
    color: orange;
}

p {
    padding: 2px;
}

main img {
    width: 150px;
    height: auto;
    border-radius: 600px;
    border: 1rem solid rgba(0, 0, 0, 0.2);
    padding: 3px;
    box-shadow: 0px 0px 15px purple;
}

footer {
    margin-top: 10px;
    border-top: 2px solid red;
    text-align: center;
}

nav {
    background-color: brown;
    padding: 10px;
    display: block;
    color: purple;
    text-align: center;
}

nav a {
    padding: 10px;

    
}

h1 {
    color: #07d18e;

}